body{
    background-color: rgb(159, 106, 20);
}
h1{
    color: rgb(255, 181, 96);
    text-align: center;
}
img{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p{
    color: #f2ae72;
    text-align: center;
}
audio{
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}